<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Movie ratings</title>
	<link rel="stylesheet" href="static/styles.css">
</head>
<body>
	<div class="app-bar">
		<h1>Movie ratings</h1>
		<div>
			<span class="username">{{ user.name }}</span>
			<a class="light-hover" href="/logout">Logout</a>
		</div>
	</div>

	<!-- {% if config.get("ENDPOINT") %}
		<li><a href='/call_downstream_api'>Call a downstream API</a></li>
	{% endif %}

	{% if config.get("B2C_PROFILE_AUTHORITY") %}
		<li><a href='{{config.get("B2C_PROFILE_AUTHORITY")}}?client_id={{config.get("CLIENT_ID")}}'>Edit Profile</a></li>
	{% endif %} -->
	
	<div class="container">
		<h2 class="subpage-title gray">Movie list</h2>
		<table>
			<tr><th>Title</th><th>Director</th><th>Rating</th></tr>
			{% for movie in movies %}
			<tr>
				<td>{{ movie.title }}</td> 
				<td>{{ movie.director }}</td>
				<td class="gray"><b>{{'%0.1f'| format(movie.rating|float)}}</b> from {{ movie.number_of_ratings }} votes</td>
				<td class="no-border"><form class="inline-form" action="/add_rating/{{ movie.id }}" method="post">
					<input class="number-input" type="number" id="rating" name="rating" min="1" max="10" required>
					<button class="inline-button" type="submit">Add rating</button>
				</form></td>
				<td class="no-border">
					<a href="{{ url_for('get_movie', movie_id=movie.id) }}">Details</a>
					<!-- <a href="{{ url_for('get_movie', movie_id=movie.id) }}">Details</a> -->
				</td>
			</tr>
			{% endfor %}
		</table>
		<h3><a href="{{ url_for('add_movie_form') }}">Add movie</a></h3>
		
	</div>
</body>
</html>

