<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Details</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="app-bar">
		<h1>Movie ratings</h1>
		<div>
			<span class="username">{{ user.name }}</span>
			<a class="light-hover" href="/logout">Logout</a>
		</div>
	</div>
    <div class="container">
        <div class="details-container">
            <h2 class="subpage-title gray">Movie details</h2>
            <span><strong>Title:</strong> {{ movie.title }}</span>
            <span><strong>Director:</strong> {{ movie.director }}</span>
            <span><strong>Rating:</strong> <b>{{ movie.rating }}</b> from {{ movie.number_of_ratings }} votes</span>
            <a class="action" href="{{ url_for('index') }}">Back to Movies</a>
        </div>
    </div>
</body>
</html>